@define-color bg #1B1B1B;
@define-color fg #D8DEE9;
@define-color gray1 #A3BE8C;
@define-color gray2 #9A9D9A;
@define-color gray3 #5E81AC;
@define-color gray4 #EBCB8B;
@define-color gray5 #B48EAD;
@define-color fg_bright #D8DEE9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
    border-radius: 14px;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
